.fade-in {
    animation-name: fade-in-animation;
    animation-duration: 6s;
}

@keyframes fade-in-animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.blink-colour {
    animation-name: blink-colour-animation ;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink-colour-animation {
    0% {
        color: white;
    }
    20% {
        color: green;
    }
    40% {
        color: yellow;
    }
    60% {
        color: red;
    }
    80% {
        color: blue;
    }
}